/* Background for the entire scene */
.root {
    -fx-background-color: #007b7b; /* Teal */
    -fx-font-family: 'Segoe UI', sans-serif;
}

/* White card container */
.admin_dashboard_card {
    -fx-background-color: #ffff;
    -fx-background-radius: 12;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 4);
    -fx-alignment: center;
}

.admin_dashboard_card_anchor{
    -fx-alignment: center;
}

/* Section heading (e.g., Mr. Clerk's Profile Details) */
.admin_dashboard_header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #1a1a1a;
}

/* Labels for form fields */
.admin_dashboard_grid_label {
    -fx-font-size:1.2em;
    -fx-text-fill: #333333;
}

/* Input text fields */
.admin_dashboard_grid_text_field {
    -fx-pref-width: 450;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-background-color: #e2e8f0;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 8 12;
    -fx-font-size: 13px;
}
.admin_dashboard_grid_text_field:focused{
    -fx-border-color: #008B8B;
    -fx-border-width: 1px;
    -fx-border-radius: 5;
}

/* Update profile button */
.admin_dashboard_grid_button {
    -fx-background-color: #008080;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-font-size: 14px;
}

.admin_dashboard_grid_button:hover {
    -fx-background-color: #006666;
    -fx-cursor: hand;
}

/* Welcome label (top bar) */
.admin_dashboard_welcome {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-padding: 10;
}

.admin_dashboard {
}